body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(30, 30, 30); /* Matching the container background color */
  font-family: 'Inconsolata', monospace;
}

.centralContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  background-color: #2d2d2d;
  padding: 20px;
}

.container {
  margin: 20px;
  padding: 20px;
  max-width: 400px;
  min-width: 400px;
  background-color: #3c3c3c;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #E0E0E0;
}

.buttonContainer {
  margin-bottom: 20px;
}

.button, .submitButton, .backButton {
  background-color: #6A6969;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover, .submitButton:hover, .backButton:hover {
  background-color: #A2A2A2;
  transform: translateY(-2px);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #D9D9D9;
  text-align: center;
}

input[type="text"], input[type="email"] {
  background-color: #6A6969;
  border: none;
  border-radius: 8px;
  color: #E0E0E0;
  padding: 10px;
  width: 95%;
  margin-bottom: 10px;
  text-align: center;
  transition: background-color 0.3s;
}

input[type="text"]::placeholder, input[type="email"]::placeholder {
  color: #A2A2A2;
}

input[type="text"]:focus, input[type="email"]:focus {
  background-color: #4a4a4a;
  outline: none;
}

.errorText {
  color: red;
}

.successText {
  color: green;
}

.backButtonContainer {
  margin-top: 20px;
}
