/* Dark Mode Colors */
.primary-bg {
  background-color: #1e1e1e;
}

.secondary-bg {
  background-color: #2d2d2d;
}

.primary-text {
  color: #D9D9D9;
}

.secondary-text {
  color: #A2A2A2;
}

.border-color {
  border-color: #6A6969;
}

.highlight-bg {
  background-color: #B9D9EB; /* Green for save button */
}

.highlight-text {
  color: white;
}

.danger-bg {
  background-color: #ff4c4c;
}

/* Container */
.container {
  padding: 20px;
  background-color: #1e1e1e;  /* Ensure this line is set to the desired background color */
  color: #D9D9D9;
  width: 100%;
  max-width: 1200px;  /* Adjust this value as needed to make the container bigger */
  margin: 0 auto;  /* Center the container horizontally */
  box-sizing: border-box;  /* Include padding and border in the element's total width and height */
}

/* Input Fields */
.projectNameInput,
.infoInput,
.textArea, 
.fileInput {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background-color: #2d2d2d;
  color: #D9D9D9;
  border: 1px solid #6A6969;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Project Description Input */
.projectDescriptionInput {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background-color: #2d2d2d;
  color: #D9D9D9;
  border: 1px solid #6A6969;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Layer */
.layer {
  border-top: 1px solid #6A6969;
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
  background-color: #2d2d2d;
  border-radius: 5px;
}

/* Columns */
.column {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  margin-right: 1%;
  position: relative;
  box-sizing: border-box;
}

.column.fullWidth {
  width: 100%;
}

.column.halfWidth {
  width: 49%;
}

/* Add Column Button */
.addColumn {
  background-color: #2d2d2d;
  border: 1px dashed #6A6969;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #A2A2A2;
  border-radius: 5px;
  margin-bottom: 15px;
  position: relative;
}

.addColumnButton {
  background: none;
  border: none;
  color: #A2A2A2;
  font-size: 24px;
  cursor: pointer;
}

/* Add Column Back Button */
.addColumnBack {
  background-color: #2d2d2d;
  border: 1px dashed #6A6969;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #A2A2A2;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Remove Buttons */
.removeColumnButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #ff4c4c;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeExternalLinkButton {
  background-color: #ff4c4c;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

/* Action Buttons */
.actionButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.addLayerButton,
.addInfoButton {
  width: 180px;
  padding: 12px;
  background-color: #6A6969;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}

.saveButton {
  width: 180px;
  padding: 12px;
  background-color: #85bcdb; /* Green for save button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}

/* Custom Select Button */
.customSelect {
  border: 1px solid #6A6969;
  border-radius: 5px;
  padding: 12px;
  background-color: #2d2d2d;
  font-size: 16px;
  color: #D9D9D9;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
}

.customSelect:hover,
.customSelect:focus {
  border-color: #007bff;
  outline: none;
  background-color: #3a3a3a;
}

/* External Links */
.externalLinks {
  border: 1px solid #6A6969;
  padding: 15px;
  margin-top: 15px;
  background-color: #2d2d2d;
  border-radius: 5px;
}

.externalLink {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Utility Classes */
.hidden {
  display: none;
}
