.gitPullContainer {
    padding: 20px;
  }
  
  .heading {
    color: white;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .fetchButton {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .fetchButton:hover {
    background-color: #45a049;
  }
  
  .repoList {
    list-style-type: none;
    padding: 0;
  }
  
  .repoItem {
    margin-bottom: 10px;
  }
  
  .repoButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
  }
  
  .repoButton:hover {
    background-color: #0056b3;
  }
  
  .repoButton.pressed {
    background-color: #003d80;
  }
  
  .fileTree {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: white;
    width: 100%;
  }
  
  .fileItem {
    margin: 5px;
    white-space: nowrap;
  }
  
  .fileItem a {
    text-decoration: none;
    color: #007bff;
  }
  
  .fileItem a:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
  }
  
  