@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

/* NavigationBar.module.css */

.nav {
  background: linear-gradient(90deg, #2b2b2b 40%, #121212 75%);
  border: 1px solid #1a1a1a;
  padding: 20px 10px 20px 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  font-family: 'Inconsolata', monospace;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.button {
  color: #f0f0f0;
  padding: 12px 36px;
  align-items: center;
  border-radius: 12px;
  text-decoration: none;
  font-size: 20px;
  font-weight: light;
  font-family: 'Inconsolata', monospace;
  margin-left: 10px;
  margin-right: 15px;
  cursor: pointer;
  background: linear-gradient(145deg, #3a3a3a, #2e2e2e);
  border: 1px solid #4f4f4f;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 8px 20px rgba(0, 0, 0, 0.3);
}

.clickedButton {
  color: #f0f0f0;
  padding: 12px 36px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 20px;
  font-weight: light;
  font-family: 'Inconsolata', monospace;
  margin-left: 10px;
  margin-right: 15px;
  cursor: pointer;
  background: linear-gradient(145deg, #494949, #606060);
  border: 1px solid #4f4f4f;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 8px 20px rgba(0, 0, 0, 0.3);
}

.siloButton {
  color: #121212;
  padding: 12px 36px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
  margin-left: 10px;
  margin-right: 15px;
  cursor: pointer;
  background: linear-gradient(140deg, #b9d9eb 20%, #ffffff);
  border: 1px solid #7fc1f4;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 8px 20px rgba(0, 0, 0, 0.3);
}

.button:hover {
  background: linear-gradient(145deg, #575757, #494949);
  color: #dedede;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 10px 25px rgba(0, 0, 0, 0.3);
  border-color: #d0d0d0;
}

.siloButton:hover {
  background: linear-gradient(145deg, #6fb8e1, #b9d9eb);
  color: #121212;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 10px 25px rgba(0, 0, 0, 0.3);
  border-color: #5ba4cf;
}

.button:active {
  background: #d0d0d0;
  color: #121212;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3), inset 0 8px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
  border-color: #b0b0b0;
}

.siloButton:active {
  background: #7fc1f4;
  color: #121212;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3), inset 0 8px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
  border-color: #7fc1f4;
}

.icon {
  margin-right: 3px; /* Add space between the icon and the text */
  font-size: 1.2em; /* Adjust the size of the icon if needed */
  vertical-align: middle;
  margin-left: 0px;
  margin-bottom: 4px; /* Vertically align the icon with the text */
}

.logoutButton {
  color: #f0f0f0;
  border-radius: 12px;
  padding: 12px 4px 12px 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: light;
  font-family: 'Inconsolata', monospace;
  margin-left: 10px;
  justify-content: center;
  margin-right: 30px;
  height: 50px;
  max-width: auto;
  cursor: pointer;
  background: linear-gradient(145deg, #3a3a3a, #2e2e2e);
  border: 1px solid #4f4f4f;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 8px 20px rgba(0, 0, 0, 0.3);
}

.logoutButton:hover{
  background: linear-gradient(145deg, #575757, #494949);
  color: #dedede;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 10px 25px rgba(0, 0, 0, 0.3);
  border-color: #d0d0d0;
}
