.container {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  border-radius: 8px; 
  flex-direction: column;
}

.projectDirectory {
  flex: 1;
  border-radius: 8px;
  background-color: #1e1e1e;
  overflow-y: auto; /* Enable vertical scrolling if needed */
  padding: 0px 20px 20px 20px;
}

.projectsTitle {
  position: sticky;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, #33383c, rgba(41, 48, 55, 0.4));  
  padding: 20px;
  color: white; 
  font-family: "Inconsolata", system-ui;
  font-size: 20px;
  font-stretch: expanded;
  border-radius: 8px;
  letter-spacing: 5px;
  margin-top: 0px;
}


