.projectContainer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #6A6969;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .createdByContainer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .createdByContainer a {
    margin-left: 20px;
    color: #1e1e1e;
    font-size: 30px;
    text-decoration: none;
    font-weight: bolder;
  }
  
  .projectHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .projectTitle {
    margin: 0;
    font-size: 1.5rem;
    background-color: #f6f6f6 ;
    color: #1e1e1e;
    padding: 10px 20px 10px 5px ;
    border-radius: 8px;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .textContainer {
    display: flex;
    flex-direction: column;
  }
  
  .mediaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .projDescription, .additionalInfo, .otherFieldDisplay, .comments, .tagsDisplay {
    margin-bottom: 15px;
  }

  .projDescription, .additionalInfo, .otherFieldDisplay {
    margin-bottom: 15px;
    background-color: #f4f2f2;
    border-radius: 8px;
    padding: 5%;
  }
  
  .mediaImage {
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    gap: 10px;
  }
  
  .upvoteSectionBox {
    display: flex;
    justify-content: left;
    margin-top: 15px;
  }
  
  .upvoteButtonBox {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .upvoteButton {
    background-color: #eae6e6;
    color: #70b9e3;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 20px;
  }
  
  .upvoteButton:hover {
    background-color: #1e1e1e;
  }
  
  .tagsDisplay {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }
  
  .tagStyle {
    background-color: #b9d9eb;
    color: #2d2d2d;
    padding: 6px 12px;
    border-radius: 5px;
  }
  
  .projectLinkButton {
    background-color: #eae6e6;
    color: #70b9e3;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  
  .projectLinkButton:hover {
    background-color: #1e1e1e;
  }
  
  .editButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #79acc9;
    font-size: 1.5rem;
    margin-left: 10px;
    transition: color 0.3s ease;
  }
  
  .editButton:hover {
    color: #1e1e1e;
  }
  