

.groupMembersContainer {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .groupTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  
  .membersList {
    list-style-type: none;
    padding: 0;
  }
  
  .memberItem {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .memberItem:last-child {
    border-bottom: none;
  }

  
  