@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  overflow: hidden;
}

.blurOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 100;
  height: 90px;
  z-index: 100;
  background-color: transparent !important; 
}

.logo {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.logoImage {
  height: 90px;
  width: auto;
}

.siloName {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 0 40px;
}

.navItem {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px;
}

.navButton {
  font-family: 'Inter', sans-serif;
  color: #bbbbbb;
  background: none;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 25px;
  white-space: nowrap;
}

.navButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.ctaWrapper {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;
}

.ctaButton {
  background-color: #ff5602;
  font-family: 'Inter', sans-serif;
  color: #fff;
  border: none;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50px;
  letter-spacing: 1px;
}

.ctaButton:hover {
  background-color: #bb3800;
}

.contentWrapper {
  flex-grow: 1;
  overflow-y: auto;
  height: calc(100vh - 90px);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px;
  min-height: calc(100vh - 90px);
}

.title {
  font-size: 6.5rem;
  line-height: 1.2;
  margin-top: 0px;
  font-weight: bold;
}

.yourTrusted {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  display: block;
  color: #fff;
}

.engineeringPlatform {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  display: block;
  color: #47a9ff;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #ccc;
  margin-top: 20px;
  max-width: 800px;
}

.animatedSection {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding: 60px 40px;
  max-width: 1200px;
  margin: 0 auto 60px;
  text-align: left;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
  
.animatedSection.visible {
  opacity: 1;
  transform: translateY(0);
}

.sectionContent {
  margin-bottom: 30px;
}

.sectionTitle {
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  color: #47a9ff;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.videoWrapper {
  width: 100%;
  max-width: 1000px; /* Adjust this value as needed */
  margin: 20px auto;
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 32px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.playButton:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.sectionIcon {
  margin-right: 15px;
  font-size: 2rem;
  color: #c4c4c4;
}

.sectionText {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ccc;
}
.spiderPlotWrapper {
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.spiderPlotWrapper > * {
  width: 96%;
}

.spiderPlotTitle {
  font-size: 1.5rem;
  color: #47a9ff;
  margin-bottom: 20px;
  text-align: center;
}
  
  .sectionContent {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #ccc;
    margin-left: 45px;
  }

  .sectionDemo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

/* Customizing the scrollbar */
.contentWrapper::-webkit-scrollbar {
  width: 10px;
}

.contentWrapper::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.contentWrapper::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.contentWrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {

  .content{
    min-height: calc(50vh - 90px);
  }

  .title {
    font-size: 3rem;
  }

  .description {
    font-size: 1rem;
  }

  .sectionTitle {
    font-size: 2rem;
  }

  .sectionContent {
    font-size: 1rem;
  }

  .header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .nav {
    margin: 10px 0;
  }

  .navItem {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logoImage {
    height: 60px;
  }

  .siloName {
    font-size: 2rem;
  }

  .animatedSection {
    flex-direction: column;
    padding: 40px 20px;
  }

  .sectionContent {
    padding-right: 0;
    margin-bottom: 30px;
  }

  .sectionDemo {
    width: 100%;
  }
  
}