



/* feed.module.css */
.feedContainer {
    padding-left: 20px;
}

.unAuthenticatedText {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 50%;
    background-color: grey;
}

.navBar {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: white;
    margin-left: 25px; 
}

.navLink {
    margin-left: 20px;
    cursor: pointer;
    text-decoration: underline;
    color: white; /* Ensure the links are also white */
}

.bold {
    font-weight: bold;
    text-decoration: none; /* Remove underline for the selected option */
}

  




