@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1E1E1E;
}

.container {
  margin: 20px auto;
  padding: 20px; 
  max-width: 500px;
  margin-top: 50px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  color: #E0E0E0;
  position: relative;
  backdrop-filter: blur(10px);
  background-color: rgba(45, 45, 45, 0.3) !important;
  border-radius: 24px;
  box-shadow: 0 0 20px rgba(0, 11, 31, 0.4);
}

.tabTitle {
  margin-bottom: 20px;
  color: #D9D9D9;
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
}

.tabContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: #6A6969;
  transition: all 0.3s ease;
  color: #E0E0E0;
}

.activeTab {
  background-color: #A2A2A2;
}

.formInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-right: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

.inputContainer label {
  margin-bottom: 5px;
  color: #cbcaca;
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

.inputSignUp{
  background-color: #606060;
  border: none;
  border-radius: 8px;
  color: #E0E0E0;
  font-family: 'Inconsolata', monospace;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
  transition: background-color 0.3s;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
  color: #A2A2A2;
}

input[type="text"]:focus, input[type="password"]:focus {
  background-color: #4a4a4a;
  outline: none;
}

.bottomButton {
  padding: 10px 20px;
  border: none;
  background-color: #6A6969;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 10px 10px 10px;
  transition: background-color 0.3s ease;
  font-family: 'Inconsolata', monospace;
}

.bottomButton:hover {
  background-color: #A2A2A2;
}
